.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: url("https://picsum.photos/800/800") no-repeat center;
  border: 5px;
  max-width: 50%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  height: 20px;
  text-align: center;
}

.empty {
}
.Green {
  background-color: green;
}
.Blue {
  background-color: blue;
}
.Red {
  background-color: red;
}
.Aqua {
  background-color: aqua;
}
.Yellow {
  background-color: yellow;
}
.Orange {
  background-color: orange;
}
.Purple {
  background-color: purple;
}
.Pink {
  background-color: pink;
}
.Brown {
  background-color: saddlebrown;
}
.Black {
  background-color: black;
}
.Gray {
  background-color: gray;
}
.Violet {
  background-color: violet;
}
.Bisque {
  background-color: bisque;
}
.Blueviolet {
  background-color: blueviolet;
}
.Cornflowerblue {
  background-color: cornflowerblue;
}
.Darkblue {
  background-color: darkblue;
}
